:root{
    --basic-grey: #efefef;
    --basic-red: #6a0404;
}

*{
    box-sizing: border-box;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

#page-container{
    display:grid;
    /*grid-template-areas: "header" "hero" "main" "aside" "footer";*/
    grid-template-columns:1fr;
    grid-template-rows: auto auto auto auto auto;
}

#global-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /*grid-area: header;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    nav{
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                display: inline-block;
            }
        }
    }
}

#mainlogo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #4d4a4a;
    text-decoration: none;
}

a{
    color: #000;
    text-decoration: none;
}

.deal-section{
    background-image: url("../image/Balatro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: var(--basic-grey);
    padding: 1rem;
    position: relative;
    height: 50vh;
    min-height: 200px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    /*grid-area: hero;*/

   /* img{
        width: 100%;
    }

    h2, p, a{
       position: absolute; 
    }

    p{
        top: 63px;
    }

    a{
        top: 299px;
    }*/
}

main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /*grid-area: main;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end:4;

    section{
        h2{
            text-align: center;
        }
        article{
            margin: 1rem auto;
        }
    }
}

article{
    margin: 1rem 0;
    border: 1px solid #efefef;
    max-width: 400px;
    width: 31%;
    min-width: 250px;
    padding: 1rem;
    flex-grow: 1
    ;

    img{
        width: 100%;
    }
}

.category-card{
    width: 33%;
    flex-grow: 1;
}

.grow1{
    flex-grow: 1;
}

.grow2{
    flex-grow: 2;
}

.btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border: none;
}

.side-container{
    background-color: var(--basic-grey);
    padding: 1rem;
    /*grid-area: aside;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:4;
    grid-row-end:5;
    
    form{

        input{
            display: block;
            padding: 1rem;
            margin: 0.4rem 0;
        }
    }
}

.age-check{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer{
    background-color: #212324;
    color: #fff;
    padding: 1rem;
    min-height: 150px;
    /*grid-area: footer;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:5;
    grid-row-end:6;
}

@media only screen and (min-width: 600px){
    #page-container{
        grid-template-columns: 1fr 1fr 0.5fr;
        /*grid-template-rows: repeat(4:auto);*/
       /* grid-template-areas: "header header header"
                             "hero hero hero "
                             "main main aside"
                             "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;*/   
    }

    #global-header{
        grid-column-end:4;
    }

    .deal-section{
        grid-column-end:4;
    }
    main{
        grid-column-end:3;
    }

    .side-container{
        grid-column-start:3;
        grid-column-end:4;
        grid-row-start:3;
        grid-row-end:4;
    }
    
    footer{
        grid-column-end:4;
        grid-row-start:4;
        grid-row-end:5;
    }
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;

    h2{
        width: 100%;
    }

    article{
        min-width: 200px !important;
        margin: 0;
        /*flex-grow: 1;*/
    }

}


section.flex-grow{
    justify-content:flex-start;

   /* article{
        max-width: 900px;
        min-width: 100px;
        flex-grow: 1;
        width: 31%;
    }
}

.grow-1{
    flex-grow: 1;
}

.grow-2{
    flex-grow: 2;
}}*/

