$primary-color: #1d1d1d;
$secondary-color: #1f5c8b;
$lightGrey: #ccc;

$errorBGcolor: #f8d7da;
$errorTextColor: #721c24;
$errorBorderColor: #f5c6cb;

$warningBGcolor: #fff3cd;
$warningTextColor: #856404;
$warningBordercolor:#ffebba;

$successBGcolor: #d4edda;
$sucessTextColor: #155724;
$sucessBorderColor: #c3e6cb;

